<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<title>Pulse-8 LogIn</title>
    <link rel="stylesheet" href="{% staticfiles 'css/style.css' %}">
</head>
<body>
	<h1>Pulse-8 Login</h1>
	<form method="post" action="/login/">
		{% csrf_token %}
		<p>Username: <input type="text" name="username" value=""/></p>
		<p>Password: <input type="password" name="password" value=""/></p>
		<input type="submit" name="submit" value="login"/>
	</form>



    <body>
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="name"/>
                <input type="password" placeholder="password"/>
                <input type="text" placeholder="email address"/>
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form">
                <input type="text" placeholder="username"/>
                <input type="password" placeholder="password"/>
                <button>login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="{% staticfiles 'js/index.js' %}"></script>

    </body>

</body>
</html>