<!DOCTYPE html>
<html>
<head>
	<title>Pulse-8 LogIn</title>
</head>
<body>
	<h1>Pulse-8 Login</h1>
	<div class="login-page">
		<div class="form">
			<form method="post" action="/login/">
				{% csrf_token %}
				<input type="text" placeholder="username"/>
				<input type="password" placeholder="password"/>
				<button value="login" name="submit" type="submit">login</button>
				<p class="message">Not registered? <a href="#">Create an account</a></p>
			</form>
		</div>
	</div>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

	<script src="js/index.js"></script>


</body>
</html>