<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="{% static 'boot/favicon.ico' %}">

	<title>Home Page - PhoGo</title>

	<!-- Bootstrap core CSS -->
	<link href="{% static 'boot/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="{% static 'boot/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="{% static 'boot/signin.css' %}" rel="stylesheet">

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="{% static 'boot/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
	<script src="{% static 'boot/js/ie-emulation-modes-warning.js' %}"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<h1>Register in Pulse-8</h1>

	{% if registered %}
	<div><p>thank you for registering</p></div>
	<div><a href="/">Go back to home page: </a></div>
	{% else %}
	<p>Register here!</p>
	<form method="post" action="/register/">
		{% csrf_token %}

		{{ user_form.as_p }}
		{{ profile_form.as_p }}
		
		<input type="submit" name="submit" value="register"/>
	</form>

	{% endif %}
</body>
</html>